.footer__section {
  background-color: $color-primary;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 1rem;
  color: $color-white-100;
  font-size: 0.9rem;

  h4 {
    font-weight: 600;
    font-size: 1rem;
  }

  &__us {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &--link {
      color: $color-white-100;
      text-decoration: none;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &-icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    img {
      width: 1.5rem;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .footer {
    h4 {
      font-size: 1.2rem;
    }

    span {
      font-size: 1rem;
    }

    .footer__us--link {
      font-size: 1rem;
    }
  }
}
