$color-primary: #461a82;
$color-primary-300: #5d23ad;
$color-primary-200: #7d4fbd;
$color-primary-100: #9e7bce;
$color-primary-0: #dfd3ef;
$color-white-100: #efeaf7;
$color-white-200: #ffffff;
$color-black-200: #090411;
$color-black-100: #333333;
$color-black-0: #a3a3a3;
